/* ------------------
 ------- BASE -------
 ------------------ */
/* Box sizing reset */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role */
ul[role=list],
ol[role=list],
ul,
ol {
  list-style: none;
}

/* Set default font smoothing */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* Remove default styles from links */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove all borders and background from buttons */
button {
  all: unset;
  cursor: pointer;
}

/* Remove built-in form styles */
input,
textarea,
select {
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
  background: none;
}

/* Images behave consistently */
img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Set body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  background-color: #0f0f0f;
  color: #fff;
}

body {
  background-color: #0f0f0f;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.2;
}

body, p, span, li, input, button, a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.wrapper {
  width: 100%;
  padding-inline: 1.25rem;
}
@media (min-width: 768px) {
  .wrapper {
    width: 90%;
    max-width: 80rem;
    margin-inline: auto;
  }
}

.hidden {
  display: none;
}

/* ------------------
 ------- COMPONENTS -------
 ------------------ */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.header__logo {
  font-size: 2rem;
  cursor: pointer;
}
.header__icons {
  display: flex;
  gap: 0.25rem;
}
.header__icons .icon {
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header__icons #menu-icon {
    display: none;
  }
}
.header__nav {
  display: flex;
  width: 100%;
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(15, 15, 15, 0.95);
    z-index: 100;
  }
}
.header__nav-list {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  margin: auto;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .header__nav-list {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.875rem;
  }
}
.header .categories-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  background-color: rgba(15, 15, 15, 0.95);
  gap: 1.875rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  font-size: 1.25rem;
}
.header #close-icon {
  position: fixed;
  display: none;
  z-index: 101;
  top: 1rem;
  right: 1rem;
}
.header #close-icon img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.main {
  padding: 1rem 0;
}
.main__hero {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 43.75rem;
  margin: auto;
}
.main__hero:hover {
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main__hero {
    height: 70vh;
  }
}
.main__hero-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__section {
  padding: 2rem 0;
}
.main__section-title {
  font-size: 1.25rem;
  padding-bottom: 1rem;
}
.main__section .carousel-wrapper {
  position: relative;
}
.main__section .carousel-wrapper .carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
}
.main__section .carousel-wrapper .carousel-btn--left {
  left: 0;
}
.main__section .carousel-wrapper .carousel-btn--right {
  right: 0;
}
.main__section-carousel {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  position: relative;
}
.main__section-carousel::-webkit-scrollbar {
  display: none;
}
.main__section .carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
}
.main__section .carousel-btn--left {
  left: -0.625rem;
}
.main__section .carousel-btn--right {
  right: -0.625rem;
}

.card {
  width: 6.25rem;
  height: 9.375rem;
  flex: 0 0 auto;
}
@media (min-width: 768px) {
  .card {
    width: 7.5rem;
  }
}
.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.search-overlay {
  z-index: 100;
  background-color: #0f0f0f;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  display: none;
}
.search-overlay__title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
.search-overlay__container {
  padding-top: 0.5rem;
}
.search-overlay__container input {
  width: 100%;
  padding: 0.375rem 1rem;
  font-size: 1.25rem;
  border: none;
  outline: none;
  background-color: #474545;
  border-radius: 0.5rem;
}
.search-overlay__container input::-moz-placeholder {
  font-size: 1.125rem;
}
.search-overlay__container input::placeholder {
  font-size: 1.125rem;
}
.search-overlay__results {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.search-overlay #overlay-close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.search-overlay #overlay-close-icon img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0f0f0f;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.details__back {
  position: fixed;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  padding: 0.375rem;
}
@media (max-width: 800px) {
  .details__back {
    background: #000;
    border-radius: 50%;
  }
}
.details-img {
  width: 100%;
  height: 50%;
  max-width: 43.75rem;
  margin: auto;
}
@media (min-width: 500px) {
  .details-img {
    height: 60vh;
  }
}
@media (min-width: 600px) {
  .details-img {
    height: 70vh;
  }
}
.details-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.details-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.25rem;
  max-width: 43.75rem;
  margin: auto;
}
.details-genres {
  padding: 1rem;
  max-width: 43.75rem;
  margin: auto;
}
.details-description {
  padding: 1rem;
  max-width: 43.75rem;
  margin: auto;
  padding-bottom: 2rem;
}

#back-icon {
  width: 1.75rem;
  height: 1.75rem;
  z-index: 1000;
  display: none;
}

.footer {
  padding-bottom: 1rem;
  width: 100%;
}
.footer__hr {
  margin-bottom: 1.5rem;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  font-size: 1.25rem;
  cursor: pointer;
}
.footer__links {
  display: flex;
  gap: 0.5rem;
}
.footer__links .mail-icon {
  width: 1.5rem;
  height: 1.5rem;
  scale: 1.1;
}
.footer__links .icon:hover {
  scale: 1.2;
  transition: all 0.3s ease-in-out;
}
/*# sourceMappingURL=style.css.map */